{% extends 'base.html.twig' %}

{% block title %}
    <title>Plan du camping</title>
{% endblock %}

{% block stylesheets %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block javascripts %}
    <script>
        function initMap() {

            const myCenter = { lat: 45.260411, lng: 6.808781 };

            /* map options*/
            const options = {
                center: myCenter,
                zoom: 19,
                disableDefaultUI: true,
                mapTypeId: 'satellite',
                strictBounds: false
            }

            /* new map */
            const map = new google.maps.Map(document.getElementById("map"), options);

            /* Array of markers */
            var markers = [

                {
                    coords: {lat: 45.25975605935657, lng: 6.8085256466722255}
                },
                {
                    coords: {lat: 45.25975605935657, lng: 6.808745587811447}
                },
                {
                    coords: {lat: 45.25981949580543, lng: 6.808873411533254}
                },
                {
                    coords: {lat: 45.25985725555412, lng: 6.809039708492177}
                },
                {
                    coords: {lat: 45.259910119164424, lng: 6.809173818942922}
                },
                {
                    coords: {lat: 45.25994787885464, lng: 6.809302564975637}
                },
                {
                    coords: {lat: 45.26002717412235, lng: 6.809372302410024}
                },
                {
                    coords: {lat: 45.25995920675679, lng: 6.808865565777209}
                },
                {
                    coords: {lat: 45.26002717412235, lng: 6.808951396465686}
                },
                {
                    coords: {lat: 45.25977040809225, lng: 6.808316785878246}
                },
                {
                    coords: {lat: 45.259842151658745, lng: 6.808160681280837}
                },
                {
                    coords: {lat: 45.259921447074106, lng: 6.808200377941516}
                },
                {
                    coords: {lat: 45.259981862554355, lng: 6.808307666302111}
                },
                {
                    coords: {lat: 45.260015846233735, lng: 6.808656353474047}
                },
                {
                    coords: {lat: 45.260102693322, lng: 6.808688539982226}
                },
                {
                    coords: {lat: 45.260246179524565, lng: 6.808715362072375}
                },
                {
                    coords: {lat: 45.260367009729684, lng: 6.808774370670703}
                },
                {
                    coords: {lat: 45.2600989173644, lng: 6.809436675426381},
                    content: '<div class="filterDiv noCaravan"><h1>Test</h1><p>Lorem</p></div>',
                },
                {
                    coords: {lat: 45.26017821242118, lng: 6.80947959077062},
                    content: '<div class="filterDiv noElec" >No elec</div>'
                },
                {
                    coords: {lat: 45.26026505926107, lng: 6.809522506114858},
                    content: '<div class="filterDiv noCaravan">No caravan</div>'
                },
                {
                    coords: {lat: 45.260336802202524, lng: 6.809538398170529},
                    content: '<div class="filterDiv noElec">no elec</div>'
                },
                {
                    coords: {lat: 45.260427424735816, lng: 6.809589158943394},
                    content: '<div class="filterDiv onlyMoreThanFour">Only > 4 </div>'
                },
                {
                    coords: {lat: 45.26052182305423, lng: 6.809645284134289},
                    content: '<div class="filterDiv noElec">no elec</div>'
                },
                {
                    coords: {lat: 45.26061999713887, lng: 6.809661176189961},
                    content: '<div class="filterDiv onlyMoreThanFour"></div>'
                },
                {
                    coords: {lat: 45.260699291467915, lng: 6.809698525917751}
                },
                {
                    coords: {lat: 45.26080501706771, lng: 6.809770744362735}
                },
                {
                    coords: {lat: 45.260247, lng: 6.80903}
                },
                {
                    coords: {lat: 45.2602, lng: 6.809148}
                },
                {
                    coords: {lat: 45.260307 , lng: 6.809088}
                },
                {
                    coords: {lat: 45.26028, lng: 6.809208}
                },
                {
                    coords: {lat: 45.260787, lng: 6.809105}
                },
                {
                    coords: {lat: 45.260373, lng: 6.809149}
                },
                {
                    coords: {lat: 45.260341, lng: 6.809278}
                },
                {
                    coords: {lat: 45.260454, lng: 6.809168}
                },
                {
                    coords: {lat: 45.26041, lng: 6.809316}
                },
                {
                    coords: {lat: 45.260539 , lng: 6.809171}
                },
                {
                    coords: {lat: 45.260499 , lng: 6.809326}
                },
                {
                    coords: {lat: 45.260612 , lng: 6.80919}
                },
                {
                    coords: {lat: 45.260582 , lng: 6.809343}
                },
                {
                    coords: {lat: 45.260694 , lng: 6.809141}
                },
                {
                    coords: {lat: 45.26066 , lng: 6.809359}
                },
                {
                    coords: {lat: 45.261128 , lng: 6.808619}
                },
                {
                    coords: {lat: 45.26116 , lng: 6.80893}
                },
                {
                    coords: {lat: 45.261177 , lng: 6.809083}
                },
                {
                    coords: {lat: 45.261181 , lng: 6.809238}
                },
                {
                    coords: {lat: 45.26119, lng: 6.809399}
                },
                {
                    coords: {lat: 45.260767, lng: 6.80937}
                },
                {
                    coords: {lat: 45.26088, lng: 6.809258}
                },
                {
                    coords: {lat: 45.260861, lng: 6.809445}
                },
                {
                    coords: {lat: 45.260959, lng: 6.809539}
                },
                {
                    coords: {lat: 45.260842, lng: 6.808962}
                }
            ];

            /* loop through markers */
            for (var i = 0; i < markers.length; i++)
            {
                addMarker(markers[i]);
            }

            /* add marker */
            function addMarker(props)
            {
                /* add red marker on map */
                var marker = new google.maps.Marker({
                    position: props.coords,
                    map: map
                });

                /*Google Map Marker Click Function*/
                google.maps.event.addListener(marker, 'click', (function(marker)
                {
                     return function() {
                         /*Bootstrap Modal Pop Up Open Code*/
                         $("#myCritaryModale").modal('show');
                     }
                 })
                 (marker));
            }
        }
    </script>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfQ3q2ZueCo2jamGTPOrm-uMuJgD2Xmh4&callback&libraries=
places&callback=initMap">
    </script>


{% endblock %}

{% block body %}
    <div class="container-fluid">
        {# add flash message#}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show text-center">
                {{ message }}
            </div>
        {% endfor %}

{#        <!-- Button to Open modal to send critary -->#}
{#        <div>#}
{#            <button type="button" class="btn btn-info p-3" data-toggle="modal" data-target="#myCritaryModale">#}
{#                Lancer une nouvelle recherche d'emplacement#}
{#            </button>#}
{#        </div>#}

        <!-- Modal -->
        <div class="modal fade" id="myCritaryModale" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Formulaire</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{{ path ('map_place')}}">
                            {{ include('map/form.html.twig') }}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>

            </div>
        </div>
    <!--The div element for the map -->
    <div id="map"></div>
{% endblock %}