{% block body %}
    <div>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Choisir</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form action="{{ path('map_index') }}" method="post">
                                <div class="form-group" data-children-count="1">

                                    {# render new event form #}
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita illum
                                        labore veniam. Animi consequuntur culpa est expedita, in magni, natus necessitatibus
                                        nulla odit quisquam quo quod quos tenetur ut voluptates?
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
