{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}<title>Admin Page</title>{% endblock %}


{% block javascripts %}

{% endblock %}

{% block body %}

    Hello

{% endblock %}
