.back-index {
    background: url("../img/background.jpg") no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}

.back-critary {
    background: url("../img/mountains.png");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: bottom right;
    margin-bottom: 0;
}

.display-row {
    display:flex;
    flex-direction: column;
}

#button1 {
    background-color: #637acc;
    border-color: #637acc;
    border-radius: 8px;
    width: 300px;
}

#button2 {
    background-color: #3d8c72;
    border-color: #3d8c72;
    border-radius: 8px;
    width: 300px;
}

#button1:focus{
    border-color: #637acc;
    box-shadow: 0 0 8px #637acc;
}

#button2:focus{
    border-color: #3d8c72;
    box-shadow: 0 0 8px #3d8c72;
}

h1{
    font-size: 6em !important;
    font-family: "Brush Script MT";
    color: black;
}

@media all and (max-device-width: 480px) {
    h1 {
        font-weight: bold;
        font-size: xxx-large;
    }

    #button1 {
        margin: 0px 5px;
        font-size: 1em;
        width: 200px;
    }

    #button2 {
        margin: 5px;
        font-size: 1em;
        width: 200px;
    }

    .back-critary {
        background-attachment: inherit;
        display: inline-table;
        background-position-x: left;
    }
}

html, body, p {
    margin:0;
    padding:0;
}

p {
    padding:20px;
}

img {
    width:100%;
}

.container{
    display: flex;
    justify-content: space-around;
}

#map{
    width: 100%;
    height: 800px;
}

.map{
    width: 70%;
    transform: rotate(180deg);
}

.btn-container{
    display: flex;
    justify-content: space-around;
}

.cls-1{
    fill: #b0b0b0;
    stroke: #b0b0b0;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.cls-2{
    fill: forestgreen;
    opacity: 0.5;
}

.cls-3{
    fill: green;
    stroke: darkorange;
}

.center {
    display:flex;
    justify-content: center;
}

hr {
    border: 2px solid black;
    width:30%;
    margin:auto;
}

.custom-button {
    border-radius: 5px !important;
    border-color:transparent !important;
    background-color: #BA6948 !important;
    padding: 10px 50px !important;
    margin-top:48px;
}

.custom-content {
    background-color: antiquewhite;
}

.custom-button:hover {
    color:lightgray;
}

.custom-link:hover {
    color:lightgray;
}

.badge-danger{
    background-color: #dc3545;
}

.navbar{
    background-color: #637acc !important;
}

i{
    color: white;
}

@media all and (max-device-width: 480px) {
    p {
        font-size: small;
    }
}
