/** General part **/
* {
    font-family: 'Roboto Slab', serif;
}

html, body, p {
    margin:0;
    padding:0;
}

.back-index {
    background: url("../img/background.jpg") no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}

.blank-index {
    height: 200px;
}

.display-row {
    display:flex;
    flex-direction: column;
}

h1 {
    font-size: 5em !important;
}

a {
    color:white !important;
    text-decoration: none!important;
}

img {
    width:100%;
}

hr {
    border: 2px solid black;
    width:30%;
    margin:auto;
}

.brown {
    color:#BA6948!important;
}

.green {
    color:#3D8C72!important;
}

.blue {
    color:#637ACC!important;
}

.background-green {
    background-color:#3D8C72!important;
}

.background-blue{
    background-color:#637ACC!important;
}

.custom-button-brown {
    border-color-color: transparent!important;
    color: white!important;
    background-color: #BA6948!important;
    padding: 10px 50px !important;
    margin-top:20px!important;
    border-radius: 5px !important;
    width: 350px!important;
}

.custom-button-brown:hover {
    opacity: 0.8;
}

.custom-button-blue {
    border-color:transparent!important;
    color: white!important;
    background-color: #637ACC!important;
    padding: 10px 50px !important;
    margin-top:20px!important;
    border-radius: 5px !important;
    width: 350px!important;
}

.custom-button-blue:hover {
    opacity: 0.8;
}

.custom-button-green {
    border-color:transparent!important;
    background-color: #3D8C72!important;
    color: white!important;
    padding: 10px 50px !important;
    margin-top:20px!important;
    border-radius: 5px !important;
    width: 350px!important;
}

.custom-button-green:hover {
    opacity: 0.8;
}

.custom-button-white {
    background-color: #3D8C72!important;
    color: white!important;
    border: 1px solid white!important;
    padding: 10px 50px !important;
    margin-top:20px!important;
    border-radius: 5px !important;
}

.custom-button-white:hover {
    border-color:transparent !important;
    background-color: white !important;
    color: #3D8C72!important;
}

.btn:focus {
    box-shadow:none!important;
}

.form-control:focus {
    border-color: gray!important;
    box-shadow: 0 0 0 0.2rem lightgray !important;
}

#button1 {
    background-color: #3D8C72;
    border-color: #3D8C72;
    border-radius: 8px;
    width: 300px;
}

#button2 {
    background-color: #637ACC;
    border-color: #637ACC;
    border-radius: 8px;
    width: 300px;
}

/** Navbar & footer part **/

#navbarNav {
    justify-content: flex-end;
}

footer {
    bottom: 0!important;
    width: 100%!important;
}

.background-footer {
    background-color: rgba(0, 0, 0, 0.2);
}

.champ {
    height: 150px!important;
}

/** Map part **/

.map_title {
    text-align: center;
}


#map {
    width: 100%;
    height: 800px;
}

.map {
    width: 70%;
    transform: rotate(180deg);
}

.placeNoButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

/** Dashboard & storyboard part **/

.fa-2x {
    padding: 5px;
}

.test {
    height:100vh;
    background: url("https://images.pexels.com/photos/2422265/pexels-photo-2422265.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500")no-repeat center center;
    background-attachment: fixed;
    background-position:50% 75%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.custom-button-dash {
    width:200px !important;
    height:120px !important;
    border-radius: 5px !important;
    border-color: transparent !important;
    background: rgba(255,255,255,0.7) !important;
    color:black !important;
    font-weight: bold !important;
    padding: 10px 50px !important;
    margin-top:48px !important;
}

.custom-button-dash:hover {
    background: rgba(255,255,255,0.5) !important;
}

.center {
    display:flex !important;
    justify-content: center !important;
}

.display {
    display: flex;
    justify-content: center;
    align-items:center;
}

.form-group {
    padding: 5px 10px;!important;
}

.g-0,
.gx-0 {
    --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
    --bs-gutter-y: 0;
}

#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
    max-width: 1920px;
}
#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
    position: relative;
    display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(186, 105, 72, 0.8);
    transition: opacity 0.25s ease;
    text-align: center;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

/** Contact part **/

.resize {
    resize: none;
}

/** Auth part **/

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row {
    margin-left: 0;
    margin-right: 0;
}

.login-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row {
    margin-left: 0;
    margin-right: 0;
}

.btn-link {
    color: grey!important;
    text-decoration: none!important;
}

.back-login {
    background: url("../img/mountains.png") no-repeat center;
    background-attachment: inherit;
    padding: 130px;
}

.blank {
    height: 200px;
}

.badge {
    background-color: red;
}

/** Critaryform part **/


.back-critary {
    background: url("../img/mountains.png") no-repeat bottom right;
    background-attachment: inherit;
    margin-bottom: 0;
}

.badge-danger{
    background-color: #dc3545;
}

/** Media queries part **/

@media (max-width: 576px) {
    h1 {
        font-size: xx-large!important;
    }

    #button1 {
        margin: 0 5px;
        font-size: 1em;
        width: 200px;
    }

    #button2 {
        margin: 0 5px;
        font-size: 1em;
        width: 200px;
    }

    p {
        font-size: small;
    }

    .back-critary {
        background-attachment: inherit;
        display: inline-table;
        background-position-x: left;
    }

    .custom-button-dash {
        width:150px;
        height:110px;
    }

    .col-8 {
        display: flex;
    }

    .navbar-brand {
        padding: 20px;
    }

    footer {
        position: revert!important;
        left: 0!important;
    }

    .padding {
        padding-top: 10px!important;
    }

    .custom-button-blue {
        width: 200px!important;
    }

    .custom-button-green {
        width: 200px!important;
    }
    .custom-button-brown {
        width: 200px!important;
    }

}

@media (max-width: 992px) {
    h1 {
        font-weight: normal!important;
    }
}
