<h4>Bonjour ! Un utilisateur du camping vous a laissé un message.</h4>

<p>Nom de l'utilisateur : {{ contactFormDataName }}</p>

<p>Adresse email : {{ contactFormDataEmail }}</p>

<p>Téléphone : {{ contactFormDataPhone }}</p>

<p>Message : {{ contactFormDataMessage }}</p>

<img style="text-align:center;margin:auto;width:200px;height:200px;" class="logo" src="https://camping-lechenantier.com/images/logo.png" alt="logo_lechenantier">
