<!DOCTYPE html>
<html>
    <head>
        {% block title %}<title>Le chenantier</title>{% endblock %}

        <script src="{{ asset('/assets/js/app.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('/assets/css/app.css') }}">

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
