{% extends 'base.html.twig' %}

{% block title %}
    <title>Présentation</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="content">
            <h3 class="text-center p-5">Bonjour et bienvenue au <strong>camping le Chenantier</strong> en Haute Maurienne vanoise, sur la commune de Sollières !</h3>
        </div>
    </div>

    <img src="/assets/img/feets.png" alt="camping">

    <div class="container-fluid custom-content">
        <div class="content">
            <br>
            <div class="center">
                <hr>
            </div>

            <p class="text-center py-3">Vous avez envie de découvrir les emplacements disponibles ?
                <br>
                <a class="btn btn-lg custom-button-brown text-center" href="{{ path('critaryform') }}">Continuer</a>
            </p>
        </div>
    </div>
{% endblock %}
