{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="test">
    <div class="container">
        <div class="row">
            <div class="col-4 col-6 display">
                <button type="button" class="btn btn-primary custom-button-dash display">Code Wifi
                    <i class="fas fa-wifi fa-2x brown"></i>
                </button>
            </div>
            <div class="col-4 col-6 display">
                <button type="button" class="btn btn-primary custom-button-dash display">Météo
                    <i class="fas fa-sun fa-2x blue"></i>
                </button>
            </div>
            <div class="col-4 col-6 display">
                <button type="button" class="btn btn-primary custom-button-dash display">Services de proximité
                    <i class="fas fa-shopping-cart fa-2x green"></i>
                </button>
            </div>
            <div class="col-4 col-6 display">
                <button type="button" class="btn btn-primary custom-button-dash display">Activités à proximité
                    <i class="fas fa-map-signs fa-2x brown"></i>
                </button>
            </div>
            <div class="col-4 col-6 display">
                <button type="button" class="btn btn-primary custom-button-dash display">Plan du Camping
                    <i class="fas fa-map-marked-alt fa-2x blue"></i>
                </button>
            </div>
            <div class="col-4 col-6 display">
                <button type="button" class="btn btn-primary custom-button-dash display">Numéros utiles
                    <i class="fas fa-phone-square-alt fa-2x green"></i>
                </button>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
