<h3>Bonjour ! Heureux de savoir que vous avez trouvé un espace pour votre séjour</h3>

<p>
    <a href="{{ url('confirm_account', {"token": token}) }}">Veuillez cliquer ici pour confirmer votre compte.</a>
</p>

<p style="color:#3D8C72;">
    Merci pour votre confiance et bienvenue au camping LeChenantier :)
</p>

<img style="text-align:center;margin:auto;width:200px;height:200px;" class="logo" src="https://camping-lechenantier.com/images/logo.png" alt="logo_lechenantier">
